source "$RTT_DIR/src/Kconfig"
source "$RTT_DIR/libcpu/Kconfig"
source "$RTT_DIR/components/Kconfig"
source "$RTT_DIR/../framework/Kconfig"
source "$RTT_DIR/../media/Kconfig"
source "$RTT_DIR/../case/Kconfig"
